.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(231, 224, 224) 13% , rgb(197, 235, 242) 80%);
background: -o-linear-gradient(left , rgb(231, 224, 224) 13% , rgb(197, 235, 242) 80%);
background: -ms-linear-gradient(left , rgb(231, 224, 224) 13% , rgb(197, 235, 242) 80%);
background: -moz-linear-gradient(left , rgb(231, 224, 224) 13% , rgb(197, 235, 242) 80%);
background: -webkit-linear-gradient(left , rgb(231, 224, 224) 13% , rgb(197, 235, 242) 80%);






}